<%= form_for(@apartment) do |f| %>
  <% if @apartment.errors.any? %>
    <div id="error_explanation">
      <ul>
      <% @apartment.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :street %><br>
    <%= f.text_field :street %>
  </div>
  <div class="field">
    <%= f.select( :area_id, Area.all.collect {|a| [ a.name, a.id ] }, {:include_blank => true, :default => nil}) %>
  </div>
  <div class="field">
    <%= f.select( :rental_type_id, RentalType.all.collect {|r| [ r.name, r.id ] }, {:include_blank => true, :default => nil}) %>
  </div>
  <div class="field">
    <%= f.label :picture %>
    <%= f.file_field :picture %>
    <%#= f.hidden_field :picture_cache %>
  </div>
  <div class="field">
    <%= f.label :from_date %><br>
    <%= f.date_select :from_date, {:prompt => true, :default => nil, :start_year => Date.today.year, :end_year => Date.today.year + 2, :order => [:month, :day, :year] }, id:"fromDatePicker" %>
  </div>
  <div class="field">
    <%= f.label :available_now %>
    <%= f.check_box :available_now, id:"availableNow" %>
  </div>
  <div class="field">
    <%= f.label :to_date %><br>
    <%= f.date_select :to_date, {:prompt => true, :default => nil, :start_year => Date.today.year, :end_year => Date.today.year + 4, :order => [:month, :day, :year] } %>
  </div>
  <div class="field">
    <%= f.label :to_date_open %><br>
    <%= f.check_box :to_date_open %>
  </div>
  <div class="field">
    <%= f.label :flex_dates %><br>
    <%= f.check_box :flex_dates %>
  </div>
  <div class="field">
    <%= f.select( :currency_id, Currency.all.collect {|u| [ raw(u.symbol), u.id ] }) %>
  </div>
  <div class="field">
    <%= f.label :price %><br>
    <%= f.number_field :price %>    
  </div>
  <div class="field">
    <%= f.select( :price_time_id, PriceTime.all.collect {|t| [ t.name, t.id ] }) %>
  </div>  
  <div class="field">
    <%= f.label :agent_fee, "Is there an agent fee?" %><br>
    <%= f.select :agent_fee, options_for_select([['Yes', true], ['No', false]]), {:prompt => ""} %>
  </div>
  <div class="field">
    <%= f.label :furnished, "Is the apartment furnished? (Included in rental price)" %><br>
    <%= f.select :furnished, options_for_select([['Yes', true], ['No', false]]), {:prompt => ""} %>
  </div>
  <div class="field">
    <%= f.label :package %><br>
    <%= f.check_box :package %>
  </div>
  <div class="field">
    <%= f.label :flights %><br>
    <%= f.number_field :flights, :step => 0.5 %>    
  </div>
  <div class="field">
    <%= f.label :beds %><br>
    <%= f.number_field :beds, :step => 0.5 %>    
  </div>
  <div class="field">
    <%= f.label :baths %><br>
    <%= f.number_field :baths, :step => 0.5 %>    
  </div>
  <div class="field">
    <%= f.label :description %><br>
    <%= f.text_area :description %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>