<table>
  <thead>
    <tr>
      <th>Street</th>
      <th>Area</th>
      <th>Rental Type</th>
      <th>Price</th>
      <th></th>
      <th>Beds</th>
      <th>Baths</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @apartments.each do |apartment| %>
      <tr>
        <td><%= apartment.street %></td>
        <td><%= apartment.area.name if apartment.area %></td>
        <td><%= apartment.rental_type.name if apartment.rental_type %></td>
        <td><%= number_to_currency apartment.price, unit: apartment.currency.symbol.html_safe, precision: 0 %></td> 
        <td><%= apartment.price_time.name %></td>
        <td><%= apartment.beds %></td>
        <td><%= apartment.baths %></td>
        <td><%= link_to 'More Detail', apartment %></td>
        <% if apartment.user == current_user %>
          <td><%= link_to 'Edit Listing', edit_apartment_path(apartment) %></td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>