<table>
  <thead>
    <tr>
      <th>Street</th>
      <th>Area</th>
      <th>Rental Type</th>
      <th>Price</th>
      <th></th>
      <th>Price neg</th>
      <th>Beds</th>
      <th>Baths</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @apartments.each do |apartment| %>
      <tr>
        <td><%= apartment.street %></td>
        <td><%= apartment.area.name if apartment.area %></td>
        <td><%= apartment.rental_type.name if apartment.rental_type %></td>
        <td><%= number_to_currency apartment.price, unit: (apartment.currency.symbol.html_safe if apartment.currency), seperator: ",", delimiter: "" %></td> 
        <td><%= apartment.price_time.name %></td>
        <td><%= apartment.price_neg %></td>
        <td><%= apartment.beds %></td>
        <td><%= apartment.baths %></td>
        <td><%= link_to 'Show', apartment %></td>
        <td><%= link_to 'Edit', edit_apartment_path(apartment) %></td>
        <td><%= link_to 'Destroy', apartment, method: :delete, data: { confirm: 'Are you sure you want to delete this apartment listing?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>