<%= search_form_for @search do |f| %>
  <div class="field">
    <%= f.label :area_id_eq %>
    <%= f.select( :area_id_eq, Area.all.collect {|a| [ a.name, a.id ] }, {:prompt => "Any Area"})%>
  </div>
    <div class="field">
    <%= f.label :rental_type_id_eq %>
    <%= f.select( :rental_type_id_eq, RentalType.all.collect {|r| [ r.name, r.id ] }, {:prompt => "Any Length of Time"}) %>
  </div>
  <div class="field">
    <%= f.label :from_date_lteq, "Available as of"%>
    <%= f.date_select :from_date_lteq, {:prompt => { day: 'Any date', month: 'Any month', year: 'Any year' }, :default => nil, :start_year => Date.today.year, :end_year => Date.today.year + 2, :order => [:month, :day, :year]} %>
  <div class ="field">
    <%= f.label :beds_gteq, "Minimum Bedrooms" %>
    <%= f.number_field :beds_gteq, :step => 0.5 %>    
  </div>
  <div class ="actions">
    <%= f.submit "Search" %>
  </div>
<% end %>
